<section class="content-header">
    <h1>
        Thêm mới người dùng
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="accounts">Danh mục người dùng</a></li>
        <li class="active"><a href="#">Thêm mới</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">{{account.FullName}}</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" role="form" novalidate name="frmAddAccount" ng-submit="addAccount()">
                    <div class="box-body">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Họ tên người dùng</label>
                                <div class="col-sm-10">
                                    <input type="text" name="fullName" class="form-control"
                                           required ng-model="account.FullName">
                                    <span ng-show="frmAddAccount.fullName.$invalid" class="error">Bạn phải nhập họ tên.</span><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tài khoản</label>
                                <div class="col-sm-10">
                                    <input type="text" name="userName" class="form-control"
                                           required ng-model="account.UserName">
                                    <span ng-show="frmAddAccount.userName.$invalid" class="error">Bạn phải nhập tên tài khoản.</span><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mật khẩu</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control"
                                           required ng-model="account.Password">
                                    <span ng-show="frmAddAccount.password.$invalid" class="error">Bạn phải nhập mật khẩu.</span><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" name="email" class="form-control"
                                           required ng-model="account.Email">
                                    <span ng-show="frmAddAccount.email.$invalid" class="error">Bạn phải nhập email.</span><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Điện thoại</label>
                                <div class="col-sm-10">
                                    <input type="text" name="password" class="form-control"
                                           ng-model="account.PhoneNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ngày sinh</label>
                                <div class="col-sm-10">
                                    <input type="date" name="birthDay" value="{{ account.BirthDay | date: 'yyyy-MM-dd' }}" class="form-control"
                                           required ng-model="account.BirthDay">
                                    <span ng-show="frmAddAccount.birthDay.$invalid" class="error">Bạn phải nhập ngày sinh.</span><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <label ng-repeat="group in groups">
                                        <input type="checkbox" checklist-model="account.Groups" checklist-value="group"> {{group.Name}}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <a ui-sref="application_users" class="btn btn-default">Hủy bỏ</a>
                                    <input type="submit" ng-disabled="frmAddAccount.$invalid" class="btn btn-primary" value="Lưu lại" />
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>