<footer class="site-footer" role="contentinfo">

    <div class="grid medium-up--grid--table sub-footer small--text-center">
        <div class="grid__item medium-up--one-half">
            <p>Copyright &copy; 2017,  <a target="_blank" rel="nofollow" >Ecommerce Store</a></p>
            <p>Điện thoại: HN - (04) 1234 6789 - (04) 1234 5678</p>
        </div>


        <div class="grid__item medium-up--one-half medium-up--text-right">
            <p>VPDD: Ngõ 218 - Phố Lĩnh Nam - Minh khai - TP Hà Nội</p>
            <p>Điện thoại: HN - (04) 3567 1256 - (04) 2467 3566</p>
        </div>

    </div>
</footer>
