th{
    cursor: pointer;
}

.formSearch {
    margin-left: 10px;
}


.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

.error {
    color: red;
    font-weight: bold;
}

.img-wrap{
     position: relative;
    display: inline-block;
    font-size: 0;
}

.img-wrap .close {
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}

/* Override Pagination */

.pagination > li {
    cursor: pointer;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 10px 10px;
    font-size: 12px;
    line-height: 1.5;
}


