
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="hr--border-top small--hide">

<nav class="breadcrumb-nav small--text-center" aria-label="You are here">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/" itemprop="url" title="Trang chủ">
            <span itemprop="title">Trang chủ</span>
        </a>
        <span class="breadcrumb-nav__separator" aria-hidden="true">›</span>
    </span>

    Giới thiệu

</nav>

<h2> Về chúng tôi</h2>
<div class="rte">
    <h3>Sản phẩm được thực hiện bởi nhóm 6 - Khoa CNTT - UNETI University</h3>

    <div class="person">
        <img class="border-round" src="~/UploadedFiles/images/persons/quan.jpg"/>
        <p>Trần Ngọc Quân</p>
    </div>
</div>

