@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="hr--border-top small--hide">



<nav class="breadcrumb-nav small--text-center" aria-label="You are here">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/" itemprop="url" title="Trang chủ">
            <span itemprop="title">Trang chủ</span>
        </a>
        <span class="breadcrumb-nav__separator" aria-hidden="true">›</span>
    </span>

    Quên mật khẩu

</nav>

<div>
    <p>
        Hãy kiểm tra email của bạn để đặt lại mật khẩu.
    </p>
</div>
	
