@model Store.Web.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="hr--border-top small--hide">



<nav class="breadcrumb-nav small--text-center" aria-label="You are here">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/" itemprop="url" title="Trang chủ">
            <span itemprop="title">Trang chủ</span>
        </a>
        <span class="breadcrumb-nav__separator" aria-hidden="true">›</span>
    </span>
    Quên mật khẩu
</nav>


<div class="medium-up--one-whole">
    <div class="contact-form form-vertical medium-up--four-tenths">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })


            @Html.LabelFor(f => f.Email)
            @Html.TextBoxFor(f => f.Email, new { @placeholder = "Tên tài khoản", required = "required" })


            <input type="submit" class="btn" value="Gửi">

        }

    </div>
</div>
